<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Location Learning Page by Tensorflow</title>
</head>
<body>
    <div>
        <h1>A Guidance Page</h1>
    </div>

    <div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p>data for pre-learning: ~/tensor/prelearning/</p>
        <p></p>
        <p>data for determination of location: ~/tensor/insert/</p>
    </div>

</body>
</html>